requirements.txt

Quarto para el archivo en .qmd y posiblemente tinytex.

library(janitor)
library(summarytools)
library(ggplot2)
library (openxlsx)
library (tidyverse)
library(tidyr)
library(dplyr)
library(plyr)
library(fs)
library(readxl)
library(writexl)
library(haven)
library(DataExplorer)
library(stringr)
library (broman)
library(data.table)
library(lubridate)
library(ff)
library(dtplyr)
library(glue)
library(tidyfast)
library(dataMaid)
library(gtsummary)
library(gt)
library(readxl)
library(flextable)
library(ISLR)
library(sjPlot)
library(likert)
library(lme4)
library(lmerTest)
library(performance)
library(dlookr)
